.food-item{
    width: 100%;
   
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 0px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
    object-fit: cover;
}
.food-item-info{
    padding: 20px;
    color: white;

}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
/* .star{
    width: 10px;
    height: 10px;
} */
.food-item-name-rating P{
    font-size: 20px;
    font-weight: 500;
}
.food-item-desc{
    color: rgb(180, 180, 180);
    font-size: 15px;
}
.food-item-price{
    color: tomato;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0px;
}
.food-item {
  position: relative;
  overflow: hidden;
}

.food-item-img-container {
  position: relative;
}

.food-item-image {
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transform and filter on hover */
}

.food-item-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.food-item-img-container:hover::after {
  opacity: 1;
}

.food-item-img-container:hover .food-item-image {
  transform: scale(1.1);
}

.food-item-info {
  padding: 10px;
}

.food-item-name-rating p {
  font-weight: bold;
  margin-bottom: 5px;
}

.food-item-desc {
  font-size: 14px;
  margin-bottom: 10px;
}

.food-item-price {
  font-size: 20px;
  font-weight: bold;
}
